server:
  port: 9501

management:
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: /internal/actuator
    flyway:
      locations: classpath:/db/migration
  endpoint.health.show-details: always

springdoc:
  packagesToScan: no.nav.rekrutteringsbistand.api
  pathsToMatch: /
