server.servlet.context-path: /rekrutteringsbistand-api

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator
  flyway:
    locations: classpath:/db/migration

server:
  port: 9501

spring:
  profiles:
    active: local, stillingMock

---

spring:
  profiles: local
no.nav.security.oidc:
  issuers: isso
  issuer.isso:
    discoveryurl: http://metadata
    accepted_audience: aud-localhost
    cookie_name: isso-localhost-idtoken

spring.h2.console:
  enabled: true
  path: /h2

external:
  stilling-api.url: http://localhost:9914

---

spring:
  profiles: ekstern
external:
  stilling-api.url: http://localhost:9014

---

spring:
  profiles: dev

no.nav.security.oidc:
  issuers: isso
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/NAVQ.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 38e07d31-659d-4595-939a-f18dce3446c5
    proxyurl: http://webproxy.nais:8088

external:
  stilling-api:
    url: https://pam-ad-api.nais.preprod.local

database:
  navn: rekrutteringsbistand
  url: jdbc:postgresql://b27dbvl008.preprod.local:5432/rekrutteringsbistand

vault.mount-path: postgresql/preprod-fss

---

spring:
  profiles: prod

no.nav.security.oidc:
  issuers: isso
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/navno.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 9b4e07a3-4f4c-4bab-b866-87f62dff480d
    proxyurl: http://webproxy.nais:8088

external:
  stilling-api:
    url: https://pam-ad-api.nais.adeo.no

database:
  navn: rekrutteringsbistand
  url: jdbc:postgresql://A01DBVL010.adeo.no:5432/rekrutteringsbistand

vault.mount-path: postgresql/prod-fss
