no.nav.security.jwt:
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/NAVQ.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 38e07d31-659d-4595-939a-f18dce3446c5
    proxyurl: http://webproxy.nais:8088
    cookiename: isso-idtoken
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}
    proxyurl: http://webproxy.nais:8088

scope:
  forarbeidsplassen: api://dev-gcp.teampam.pam-ad-api/.default

external:
  stilling-api.url: https://pam-ad-api.dev.intern.nav.no/adapi
  sok-api.url: https://pam-ad-api.dev.intern.nav.no/adapi
  kandidatliste-api.url: https://rekrutteringsbistand-kandidat-api.nais.preprod.local/rekrutteringsbistand-kandidat-api/rest/veileder/stilling
  unleash.url: https://unleash.nais.io/api/

database:
  navn: rekrutteringsbistand
  url: jdbc:postgresql://b27dbvl008.preprod.local:5432/rekrutteringsbistand

vault.mount-path: postgresql/preprod-fss

nais.cluster-name: ${NAIS_CLUSTER_NAME}
