no.nav.security.jwt:
  issuer.isso:
    discoveryurl: https://login.microsoftonline.com/navno.onmicrosoft.com/.well-known/openid-configuration
    accepted_audience: 9b4e07a3-4f4c-4bab-b866-87f62dff480d
    proxyurl: http://webproxy.nais:8088
    cookiename: isso-idtoken
  issuer.azuread:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}
    proxyurl: http://webproxy.nais:8088

scope:
  forarbeidsplassen: api://prod-fss.teampam.pam-ad-api/.default

external:
  stilling-api.url: https://pam-ad-api.nais.adeo.no
  sok-api.url: https://pam-ad-api.nais.adeo.no
  kandidatliste-api.url: https://rekrutteringsbistand-kandidat-api.nais.adeo.no/rekrutteringsbistand-kandidat-api/rest/veileder/stilling
  unleash.url: https://unleash.nais.io/api/

database:
  navn: rekrutteringsbistand
  url: jdbc:postgresql://A01DBVL010.adeo.no:5432/rekrutteringsbistand

vault.mount-path: postgresql/prod-fss

nais.cluster-name: ${NAIS_CLUSTER_NAME}
