<configuration scan="true">
    <springProfile name="dev,prod">
        <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <!-- Making stacktraces shorter, because see https://doc.nais.io/observability/logs/examples#issues-with-long-log-messages -->
                    <maxDepthPerThrowable>30</maxDepthPerThrowable>
                    <exclude>java\.util\.concurrent\..*</exclude>
                    <exclude>org\.apache\.tomcat\..*</exclude>
                    <exclude>org\.apache\.coyote\..*</exclude>
                    <exclude>org\.apache\.catalina\..*</exclude>
                    <exclude>org\.springframework\.web\..*</exclude>
                </throwableConverter>
            </encoder>
        </appender>

        <appender name="sporbarhetsloggAppender" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n%xEx</pattern>
            </layout>

            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host>
                <port>6514</port>
                <ident>rekrutteringsbistand-api</ident>
                <maxMessageLength>128000</maxMessageLength>
            </syslogConfig>
        </appender>

        <logger level="INFO" name="sporbarhetslogger" additivity="false">
            <appender-ref ref="sporbarhetsloggAppender"/>
        </logger>

        <root level="INFO">
            <appender-ref ref="consoleJsonAppender"/>
        </root>

        <logger name="no.nav.rekrutteringsbistand.api" level="DEBUG"/>
    </springProfile>

    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="no.nav.rekrutteringsbistand.api" level="TRACE"/>
    </springProfile>
</configuration>
