<configuration scan="true">
    <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Making stacktraces shorter, because see https://doc.nais.io/observability/logs/examples#issues-with-long-log-messages -->
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
            <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                    <marker>TEAM_LOGS</marker>
                </evaluator>
                <OnMatch>DENY</OnMatch>
                <OnMismatch>ACCEPT</OnMismatch>
            </filter>
        </encoder>
    </appender>
    <if condition='isDefined("NAIS_CLUSTER_NAME")'>
        <then>
            <include resource="no/nav/common/audit_log/logback-naudit.xml"/>

            <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>team-logs.nais-system:5170</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
                    <includeContext>false</includeContext>
                </encoder>
                <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
                    <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                        <marker>TEAM_LOGS</marker>
                    </evaluator>
                    <OnMatch>ACCEPT</OnMatch>
                    <OnMismatch>DENY</OnMismatch>
                </filter>
            </appender>


            <logger name="team-logs-logger" level="INFO" additivity="false">
                <appender-ref ref="team-logs" />
            </logger>
        </then>
    </if>
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.mdc.v1_0.OpenTelemetryAppender">
        <appender-ref ref="consoleJsonAppender" />
    </appender>

    <root level="INFO">
        <appender-ref ref="OTEL"/>
        <appender-ref ref="team-logs" />
    </root>

    <logger name="no.nav.rekrutteringsbistand.api" level="info"/>
    <logger name="no.nav.rekrutteringsbistand.api.hendelser.StillingPopulator" level="debug"/>
</configuration>
