<configuration scan="true">
    <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <!-- Making stacktraces shorter, because see https://doc.nais.io/observability/logs/examples#issues-with-long-log-messages -->
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="sporbarhetsloggAppender" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <host>audit.nais</host>
            <port>6514</port>
            <ident>rekrutteringsbistand-stilling-api</ident>
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger level="INFO" name="sporbarhetslogger" additivity="false">
        <appender-ref ref="sporbarhetsloggAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="consoleJsonAppender"/>
    </root>

    <logger name="no.nav.rekrutteringsbistand.api" level="info"/>
    <logger name="no.nav.rekrutteringsbistand.api.hendelser.StillingsinfoPopulatorGammel" level="debug"/>
    <logger name="no.nav.rekrutteringsbistand.api.hendelser.StillingsinfoPopulator" level="debug"/>
</configuration>
