<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}) %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger) %cyan(:) %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.springframework.web" level="WARN"/>
    <logger name="no.nav.rekrutteringsbistand.api" level="WARN"/>
    <logger name="no.nav.security" level="WARN"/>
    <logger name="com.github.tomakehurst.wiremock" level="WARN"/>
</configuration>
